<div class="signup-container">
  <div class="signup-card">
    <div class="signup-header">
      <h2>Sign Up</h2>
    </div>
    <form id="signup-form" class="signup-body">
      <div class="form-group">
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" class="form-input" />
      </div>
      <div class="form-group">
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" class="form-input" />
      </div>
      <button type="submit" id="signup-btn" class="btn">Sign Up!</button>
      <a href="/login" class="login-link">Login instead</a>
    </form>
  </div>
</div>


<script src="/js/signup.js"></script>